{% load static %}
	 {% include 'Base.html' %}
	 
	<div id="Achieve" class="container-responsive">
		<div id="atasAcv">
			<img id="backAchv" src="{% static 'BackAchieve.jpg' %}"></img>
			<h1 id="Achieve1" style="color: magenta" align="center">Achievement</h1>
		</div>
		<div id="bawahAcv">
			<div id="kiri">
				<b>
				<p><ul>Juara 1 Olimpiade Sains Kabupaten bidang <br> Komputer (2016&2017)</ul></p>
				<p><ul>Juara 4 Monolog UI Art War (2018)</ul></p>
				<p><ul>Juara Harapan 3 Electra ITS (2018)</ul></p>
				</b>
			</div>
			<div id="kanan">
				<b>
				<p><ul>Juara 1 Duta Pelajar Pelopor <br> Keselamatan Berlalu Lintas (2017)</ul></p>
				<p><ul>Juara Harapan 1 Technocorner UGM (2018)</ul></p>
				<p><ul>And Many More...</ul></p>
				</b>
			</div>
		</div>
	</div>
