{% load static %} {% include 'Base.html' %} {% block content %}
<div id="Create" class="container-responsive">

    <h1>Isi Jadwal Kegiatan</h1>
    <form method="POST">
        {% csrf_token %}

        <form>
            <div class="form-group">
                <label>{{post_form.nama.label}}</label> {{post_form.nama}}
            </div>
            <div class="form-group">
                <label>{{post_form.hari.label}}</label> {{post_form.hari}}
            </div>
            <div class="form-group">
                <label>{{post_form.tanggal.label}}</label> {{post_form.tanggal}}
            </div>
            <div class="form-group">
                <label>{{post_form.jam.label}}</label> {{post_form.jam}}
            </div>
            <div class="form-group">
                <label>{{post_form.tempat.label}}</label> {{post_form.tempat}}
            </div>
            <div class="form-group">
                <label>{{post_form.kategori.label}}</label> {{post_form.kategori}}
            </div>
            <button type="Submit">Kirim</button>

        </form>

    </form>
</div>


{% endblock content %}