{% load static %}
	 {% include 'Base.html' %}
	
	<div id="Intro" class="container-responsive">
		<h1 id="Intro1" style="color: magenta" align="center">Intro</h1>
		<div>
			<img id="Profil1"src="{% static 'Home.jpg' %}"></img>
			<div id="bayangan1"></div>
			<div id="bayangan2"></div>
			<div id="kotakbayang1"></div>
			<div id="kotak1" align="right">
				<b>
				<p id="teks1">Lulusan<br> Universitas Indonesia</p>
				<p id="teks1">Jurusan<br> Sistem Informasi</p>
				</b>
			</div>
			<div id="kotakbayang2"></div>
			<div id="kotak2" align="left">
				<b>
				<p id="teks2">Nama Lengkap<br> Yobelio Ekaharja Putra</p>
				<p id="teks2">Tempat, Tanggal Lahir<br> Pati, 17 Januari 2001</p>
				</b>
			</div>
		</div>
		<div>
			<div>
				<b>
				<p id="teks3" align="center">Seseorang yang memiliki hasrat untuk belajar hal baru <br> dan selalu ingin berkarya</p>
				<p id="teks3" align="center">"Keep Moving Forward"</p>
				</b>
			</div>
		</div>
	</div>
