{% load static %} {% include 'Base.html' %}
<h1> List Kegiatan </h1>
<table class="table">
<div id="List" class="container-responsive">
    <thread>
    <tr>
    <th scope="col">No.</th>
    <th scope="col">Nama Kegiatan</th>
    <th scope="col">Hari</th>
    <th scope="col">Tanggal</th>
    <th scope="col">Jam</th>
    <th scope="col">Tempat</th>
    <th scope="col">Kategori</th>
    <th scope="col">Hapus</th>
    </tr>
    </thread>
    <tbody>
    {% for post in posts %}
    <tr>
    <th scope="row">{{forloop.counter}}</th>
    <td>{{post.nama}}</td>
    <td>{{post.hari}}</td>
    <td>{{post.tanggal}}</td>
    <td>{{post.jam}}</td>
    <td>{{post.tempat}}</td>
    <td>{{post.kategori}}</td>
    <form action="delete/{{post.id}}">
    <td><button class="btn btn-danger" type="submit">Delete</button> </td>
    </form>
    </tr>
   
    {% endfor %}
</tbody>
</table>
</div>